
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --gray: #aaa;
    --primary-black: #111;
    --light-red: #ef5a60;
    --primary-color: #e81922;
}

body {
    
}